{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>Magneziul</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'elementech/fonts/icomoon/style.css' %}">
    <link rel="shortcut icon" href="{% static 'main_site/image/elemente.png' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'elementech/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/bootstrap-datepicker.css' %} ">
    <link rel="stylesheet" href="{% static 'elementech/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'elementech/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html" class="font-weight-bold">Magneziul</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-block"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{% url 'fierul-home' %}" class="nav-link">Fierul</a></li>
                  <li class="active"><a href="#" class="nav-link">Magneziul</a></li>
                  <li><a href="{% url 'siliciul-home' %}" class="nav-link">Siliciul</a></li>
                  <li><a href="{% url 'manganul-home' %}" class="nav-link">Manganul</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url({% static 'elementech/images/magneziu.jpg' %})">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h1 class="mb-4 text-white">Magneziul</h1>
              <p class="mb-4">"Chimia începe în stele.Stelele sunt sursa elementelor chimice, care sunt blocurile de materie și nucleul subiectului nostru."</p>
              <p><a href="{% url 'main-home' %}" class="btn btn-primary btn-outline-white py-3 px-5">Proiectele noastre</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="h4 mb-4">Magneziul este...</h2>
            <p>...al optulea cel mai răspândit element de pe Pământ (se găsește în sol, în apă, în plante, animale și în corpul omenesc) și al patrulea cel mai răspândit mineral din corpul uman, participând la sute de reacții biochimice în organism.<br><br>
Magneziul este, de asemenea, utilizat pe scară largă pentru aplicații tehnice și medicale, variind de la producția de aliaje, produse pirotehnice și îngrășăminte, la îngrijirea sănătății.

</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/este.jpg' %}" alt="Image" class="img-fluid">
          </div>
          
          </div>
        </div>
      </div>
    </div>







    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Rolul magneziului</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Crearea de energie</h3>
              <p>O proprietate a magneziului este că acest mineral ajută la transformarea alimentelor în energie;</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Mișcările mușchilor</h3>
              <p>Magneziul îndeplinește un rol important în funcționarea mușchilor și a nervilor, inclusiv în acțiunea muschiului inimii (miocardul). </p>

            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Mineralizarea oaselor</h3>
              <p>Magneziul este important pentru formarea oaselor. El ajută la asimilarea calciului în oase și joacă un rol în activarea vitaminei D în rinichi.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Reglează coagularea sângelui</h3>
              <p>Magneziul este un mineral esențial în multe funcții ale corpului uman, iar una dintre acestea este legată de faptul că pune la punct cheagurile de sânge. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="site-section" style="margin-top: -6%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="h4 mb-4">Necesarul de magneziu</h2>
            <p>

În corpul nostru se găsesc aproximativ 25 de grame de magneziu, între 50 și 60% din această cantitate se află în oase, în timp ce restul se află la nivelul mușchilor, al țesuturilor moi și în sânge. 
<br><br>

La persoanele vârstnice, absorbția magneziului tinde să scadă odată cu înaintarea în vârstă. În plus, adulții vârstnici adeseori mănâncă mai puține alimente bogate în magneziu, astfel că un deficit poate să apară pe fondul unui aport insuficient al acestui mineral, tocmai pentru că dietă este prea săracă în nutrienți.
</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/necesar.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-4">
            
            <h2 class="h4 mb-4">Cantitatea de magneziu</h2>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp;0 - 6 luni</span>
                <span class="ml-auto">30 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 7 - 12 luni</span>
                <span class="ml-auto">75 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 1 - 3 ani</span>
                <span class="ml-auto">80 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 4 - 8 ani</span>
                <span class="ml-auto">130 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 9 - 13 ani</span>
                <span class="ml-auto">240 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>



            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 14 - 18 ani</span>
                <span class="ml-auto">410 mg bărbat | 360 mg femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


        

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 19 - 30 ani</span>
                <span class="ml-auto">400 mg bărbat | 310 mg femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 31+ ani</span>
                <span class="ml-auto">420 mg barbat | 320 mg femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

       

          </div>
        </div>
      </div>
    </div>




<div class="site-section" style="margin-top: -6%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="h4 mb-4">Necesarul de magneziu în timpul sarcinii</h2>
            <p>

Multe femei însărcinate acuză crampe musculare, mai ales la nivelul gambelor și dureri abdominale difuze; acestea pot fi consecinţa deficitului de magneziu. Alte simptome ale deficitului de magneziu sunt palpitațiile și oboseala cronică.<br><br> Ar trebui să vă faceți griji imediat ce apare un astfel de simptom şi să fiți atenți la semnalele pe care organismul vi le transmite. Poate nu ar fi rău să vă faceţi un set de analize, care pot depista un eventual deficit de magneziu. Dacă survine un deficit sever de magneziu în timpul sarcinii, uterul contractat nu se mai poate relaxa.
</p>
          </div>
          
          <div class="col-md-4">
            
            <h2 class="h4 mb-4">Cantitatea de magneziu</h2> 
            <h6></h6>

            



            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 14 - 18 ani</span>
                <span class="ml-auto">400 mg sarcină | 360 mg alăptare</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="90"></div>
              </div>
            </div>


        

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 19 - 30 ani</span>
                <span class="ml-auto">359 mg sarcină | 310 mg alăptare</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 31-50 ani</span>
                <span class="ml-auto">360 mg sarcină | 320 mg alăptare</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

       

          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Surse de magneziu</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/banane.jpg' %}">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/avocado.jpg' %}">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/seminte.jpg' %}">
              </a>
            </div>
          </div>

       
        </div>

        
      </div>
    </div> <!-- END .site-section -->

 <div class="site-section" style="margin-top: -5%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="h4 mb-4">Deficitul de magneziu</h2>
            <p>
Nevoia administrării suplimentelor cu magneziu este justificată în cazul persoanelor care suferă de o carență (un deficit) al acestui mineral care ajunge, la un moment dat, să existe în concentrații foarte mici în organism. 
<br><br>
Deficitul de magneziu este rar, însă el poate afecta persoanele vârstnice. Deficitul de magneziu poate să rezulte în urmă consumului excesiv de alcool, din cauza unor afecțiuni medicale, cum ar fi tulburările gastrointestinale și în urmă folosirii anumitor clase de medicamene.

</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/necesar3.jpg' %}" alt="Image" class="img-fluid">
          </div>
          
          </div>
        </div>
      </div>
    </div>


   

    <div class="site-section" style="margin-top: -5%;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Ceva interesant</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">

            <a href="https://www.youtube.com/watch?v=dXq0ao2GmrQ" data-fancybox  class="btn-video_38929">
              <span><span class="icon-play"></span></span>
              <img src="{% static 'elementech/images/interesant.jpg' %}" alt="Image" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

   

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-3">-Criss Jami-</h2>
                <p>"Împreună formăm un paradox necesar, nu o contradicție fără sens."</p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <h2 class="footer-heading mb-4">Mai multe despre noi</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'main-home' %}">Proiectele noastre</a></li>
                  <li><a href="#">Contactează-ne</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2 class="footer-heading mb-4">Contact</h2>
                <div class="social_29128 white mb-5">
                  <a href="#"><span class="icon-facebook"></span></a>  
                  <a href="#"><span class="icon-instagram"></span></a>  
                  <a href="#"><span class="icon-twitter"></span></a>  
                 </div>
                <h2 class="footer-heading mb-4">Noutăți</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control mr-3" placeholder="Email">
                  <input type="submit" value="Send" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center" style="margin-bottom: -6%;">
          <div class="col-md-12">
            <div class="border-top">
             <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Cipp & Vlad All rights reserved</p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'elementech/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'elementech/js/popper.min.js' %}"></script>
    <script src="{% static 'elementech/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elementech/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'elementech/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'elementech/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'elementech/js/aos.js' %}"></script>

    <script src="{% static 'elementech/js/main.js' %}"></script>

  </body>

</html>

