{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>Manganul</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'elementech/fonts/icomoon/style.css' %}">
    <link rel="shortcut icon" href="{% static 'main_site/image/elemente.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'elementech/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'elementech/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'elementech/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="{% url 'main-home' %}" class="font-weight-bold">Manganul</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-block"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-none" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{% url 'fierul-home' %}" class="nav-link">Fierul</a></li>
                  <li><a href="{% url 'magneziul-home' %}" class="nav-link">Magneziul</a></li>
                  <li><a href="{% url 'siliciul-home' %}" class="nav-link">Siliciul</a></li>
                  <li class="active"><a href="#" class="nav-link">Manganul</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" style="background-image: url({% static 'elementech/images/manganul.jpg  ' %})">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h1 class="mb-4 text-white">Manganul</h1>
              <p class="mb-4">"A gândi înseamnă a practica chimia creierului."</p>
              <p><a href="{% url 'main-home' %}" class="btn btn-primary btn-outline-white py-3 px-5">Proiectele noastre</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="h4 mb-4">Manganul este...</h2>
            <p>...un mineral ce se găsește în organism în cantități reduse, iar funcționarea să se realizează la valori mici. Este important pentru metabolizarea proteinelor și a acizilor grași și e implicat în creșterea și dezvoltarea oaselor. <br><br>

Este vital pentru sănătatea și bună funcționare ale nervilor și poate reduce incidența convulsiilor epileptice. Acest mineral este important în anemia produsă prin deficit de fier și pentru folosirea de către organism a tiaminei și a vitaminei E. Manganul este implicat în procesul de producere a laptelui matern și este un element-cheie în sinteză enzimelor care oxidează grăsimile și metabolizează purinele.



</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/este.jpg' %}" alt="Image" class="img-fluid">
          </div>
          
          </div>
        </div>
      </div>
    </div>







    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Rolul manganului</h2>
          </div>
        </div>
        <div class="row">

           <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Ajută organismul să neutralizeze radicalii liberi</h3>
             
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Funcționarea creierului și a restului sistemului nervos</h3>
              
            </div>
          </div>

        
          <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h3>Reduce iritabilitatea și starea de extenuare.</h3>
            

            </div>
          </div>
         

         <div class="col-md-6 col-lg-3">
            <div class="service-29128 text-center">
              <span class="d-block wrap-icon">
                <span class="icon-desktop_mac"></span>
              </span>
              <h5>Contribuie la întărirea sistemului imunitar.</h5>
              
            </div>
          </div>


        </div>
      </div>
    </div>

<div class="site-section" style="margin-top: -6%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="h4 mb-4">Necesarul de mangan</h2>
            <p>

Manganul este esențial pentru formarea și creșterea osoasă, însă niciun studiu nu a demonstrat eficacitatea administrării acestui mineral în prevenirea osteoporozei. Cea mai bună modalitate de a asigura formarea osoasă sănătoasă este urmarea unei diete sănătoase și echilibrate. 
<br><br>
Nu este recomandat un aport zilnic de mangan. Există totuși o cantitate considerată potrivită pentru persoanele de diferite vârste.
</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/necesar3.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-4">
            
            <h2 class="h4 mb-4">Cantitatea de mangan</h2>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp;0 - 6 luni</span>
                <span class="ml-auto">0.003 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 7 - 12 luni</span>
                <span class="ml-auto">0.6 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 1 - 3 ani</span>
                <span class="ml-auto">1.2 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 4 - 8 ani</span>
                <span class="ml-auto">1.5 mg bărbat/femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 9 - 13 ani</span>
                <span class="ml-auto">1.9 mg barbat| 1.6 femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>



            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 14 - 18 ani</span>
                <span class="ml-auto">2.2 mg bărbat | 1.6 mg femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>


        

            <div class="progress-wrap mb-4">
              <div class="d-flex">
                <span>&nbsp; 19+ ani</span>
                <span class="ml-auto">2.3 mg bărbat | 1.8 mg femeie</span>
              </div>
              <div class="progress rounded-0" style="height: 7px;">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

       

          </div>
        </div>
      </div>
    </div>


<div class="site-section" style="margin-top: -6%;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="h4 mb-4">Deficitul de mangan</h2>
            <p>

Deficitul de mangan este rar, totuși, atunci când apar astfel de cazuri, se poate ajunge la probleme grave, cum ar fi infertilitatea feminină, afecțiuni ale pancreasului, probleme cardiace și osteoporoză.    <br><br> Printre simptomele cele mai frecvente declanșate se numără hipertensiunea arterială, contracția musculară, malformațiile osoase, colesterolul ridicat, problemele de vedere, pierderea auzului, pierderi grave de memorie, frisoanele și tremurul.
</p>
          </div>
          <div class="col-md-4">
            <img src="{% static 'elementech/images/deficit.jpg' %}" alt="Image" class="img-fluid">
          </div>
         
        </div>
      </div>
    </div>





    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Surse de mangan</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/nuci.jpg' %}">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/kiwi.jpg' %}">
              </a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="item web">
              <a href="work-single.html" class="item-wrap" data-fancybox="gal">
                <span class="icon-add"></span>
                <img class="img-fluid" src="{% static 'elementech/images/nuca.jpg' %}">
              </a>
            </div>
          </div>


        </div>

        
      </div>
    </div> <!-- END .site-section -->

 

    <div class="site-section" style="margin-top: -5%;">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 mx-auto text-center">
            <h2 class="heading-29190">Ceva interesant</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">

            <a href="https://www.youtube.com/watch?v=KlAl5RHAAns" data-fancybox  class="btn-video_38929">
              <span><span class="icon-play"></span></span>
              <img src="{% static 'elementech/images/interesant.jpg' %}" alt="Image" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

   

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="footer-heading mb-3">-Criss Jami-</h2>
                <p>"Împreună formăm un paradox necesar, nu o contradicție fără sens."</p>
          </div>
          <div class="col-lg-8 ml-auto">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <h2 class="footer-heading mb-4">Mai multe despre noi</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'main-home' %}">Proiectele noastre</a></li>
                  <li><a href="#">Contactează-ne</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h2 class="footer-heading mb-4">Contact</h2>
                <div class="social_29128 white mb-5">
                  <a href="#"><span class="icon-facebook"></span></a>  
                  <a href="#"><span class="icon-instagram"></span></a>  
                  <a href="#"><span class="icon-twitter"></span></a>  
                 </div>
                <h2 class="footer-heading mb-4">Noutăți</h2>
                <form action="#" class="d-flex" class="subscribe">
                  <input type="text" class="form-control mr-3" placeholder="Email">
                  <input type="submit" value="Send" class="btn btn-primary">
                </form>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center" style="margin-bottom: -6%;">
          <div class="col-md-12">
            <div class="border-top">
             <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Cipp & Vlad All rights reserved</p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'elementech/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'elementech/js/popper.min.js' %}"></script>
    <script src="{% static 'elementech/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'elementech/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'elementech/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'elementech/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'elementech/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'elementech/js/aos.js' %}"></script>

    <script src="{% static 'elementech/js/main.js' %}"></script>

  </body>

</html>

